[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Werkzeug = "<= 2.1.2"
flask = "==2.1.2"
flask-restx = ">=0.5.1"
ffmpeg-python = "*"
importlib-metadata = "*"
sqlalchemy = "==1.4.*"
sqlalchemy-utils = "*"

[dev-packages]

[requires]
python_version = "3.9"
