[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.1.2"
ffmpeg-python = "*"
pymongo = "*"
flask-restx = "==0.5.1"
importlib-metadata = "*"

[dev-packages]

[requires]
python_version = "3.9"
